.body {
    height: 100%;
    margin: 20px;
}

header {
    background-color: #33333321; /* Color de fondo para el encabezado */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno del encabezado */
    max-height: 7vh;
}

.contenedorNavbar img {
    height: 46px;
    position: absolute;
    left: 43px;
    top: 26px;    
}

.contenedorNavbar{
    display: flex;
    justify-content: space-around;
}

.navbarDiv{
    position: relative;
    top: -15px;
    right: -49px;    
}

.main {
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    gap: 18px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    height: 70vh;
}

.textoIngresado,
.textoEncriptado {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.textoEncriptado {
    background-color: #e0f7fa;
}

.cambiarTexto,
.mensajeEncriptado {
    font-size: 16px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 12px;
    resize: none;
    width: 93%;
    min-height: 200px;
}

.mensajeEncriptado {
    height:50vh;
}

.btn button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnEncriptar {
    background-color: #673ab7;
    color: #fff;
}

.btnLimpiar {
    background-color: #ff5722;
    color: #fff;
}

.btnDesencriptar {
    background-color: #3f51b5;
    color: #fff;
}

.btnCopiar {
    background-color: #009688;
    color: #fff;
}

.btnCopiado {
    background-color: #4CAF50; /* Cambiar a verde para indicar éxito */
    color: #fff; /* Color del texto */
}

footer {    
    padding: 20px;
    text-align: center;
    height: 1vh;
}

.redes {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 28px;
    
  }
  
  .redes img {
    display: inline-block;
    margin: 0px;
    width: 24px;
    border-radius: 8px;
  }

  p {
    pad: 0%;
    margin: 0%;
    margin-top: 0;
  }
  






